<!-- find section starts -->
 <%- include("./includes/header.ejs")%>
 <div style="margin: 0 auto; width: 900px;" >
  <section class="find_section ">
    <div class="container">

      <div class="row">
        <div class="col-md-10 mx-auto">
          <div class="form_tab_container">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <ul class="nav " data-tabs="tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="#rent" data-toggle="tab">Upload Products</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/">back</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tab-content text-center">
              <div class="tab-pane active" id="rent">
                <div class="Rent_form find_form">
                  <form action="/project" method="post" enctype="multipart/form-data">
                    <div class="form-row">
                      <div class="col-md-6 px-0">
                        <div class="form-group ">
                          <div class="input-group">
                            <input type="file" class="form-control" name="file" />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 px-0">
                        <div class="form-group ">
                          <div class="input-group ">
                            <input type="text" class="form-control" name="category" placeholder="Product Category e.g Web Design" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-6 px-0">
                        <div class="form-group">
                          <div class="input-group ">
                            <input type="text" class="form-control" name="client" placeholder="Project Client" />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 px-0">
                        <div class="form-group">
                          <div class="input-group ">
                            <input type="text" class="form-control" name="link" placeholder="Project link" />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="col-md-6 px-0">
                        <div class="form-group">
                          <div class="input-group ">
                            <textarea class="form-control" cols="" name="description" rows="5" placeholder="Enter Product Description"></textarea>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="col-md-6 px-0">
                        <div class="form-group">
                          <div class="input-group ">
                            <textarea class="form-control" cols="" name="description" rows="" placeholder="Enter Product Description"></textarea>
                          </div>
                        </div>
                      </div> -->
                      <div class="col-md-6 px-0">
                        <div class="form-group">
                          <div class="input-group ">
                            <input type="submit" name="submit" class="btn btn-primary col-md-12" value="upload project">
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <br><br>
  <br><br>
  <br>
  </div>

  <!-- find section ends -->

<%- include("./includes/footer.ejs") %>